-unless @articles.blank?
  #articles
    = render partial: "musing", collection: @articles
  = will_paginate @articles
- else
  %center
    %p
      .futura-book There are currently no articles in this section.