= render "layouts/ad"
%center
  %h1 Press Wires
-unless @articles.blank?
  #wires
    = render partial: "wire", collection: @articles
  = will_paginate @articles
- else
  %center
    %p
      .futura-book There are currently no articles in this section.