%h1 About
%p This subdomain is where we will be housing all of our prototypes. Our original site can be found by going to #{link_to 'Capital Musings', 'http://www.capitalmusings.com'}.

%br

%h1 Credits

%h6 Header Design
%p From “Hemingway” by <a href="http://www.andersnoren.se/" title="Anders Noren" target="_blank">Anders Norén</a>.

%h6 Header Photo
%p By Alex Proimos from Sydney, Australia (NYC Skyline Contrast Uploaded by russavia) [<a href="http://creativecommons.org/licenses/by/2.0">CC-BY-2.0</a>], <a href="http://commons.wikimedia.org/wiki/File%3ANYC_Skyline_Contrast_(5919373122).jpg">via Wikimedia Commons</a>.