<h1>Capital Musings</h1>
<p>This subdomain is where we will be housing all of our prototypes. Our original site can be found by going to <%= link_to "www.capitalmusings.com", "www.capitalmusings.com" %></p>
