<center>
<div class="section header-inner section-inner">
  <div class="splash-info">
    <h1 class="blog-title">
      <%= link_to "CM Wire", musings_path %>
    </h1>
    <h3 class="blog-description">Politics, Business, and Innovation<br>
     A Capital Musings Prototype</h3>
    <h3 class="blog-description">Interested in alpha testing our daily briefing?</h3>
    <%= link_to "Sign up", new_user_registration_path, class: "btn" %>
    <h3 class="blog-description">Proceed to the prototype site</h3>
    <%= link_to "Enter", musings_path, class: "btn small" %>
  </div>
</div>

</center>


<!--include jquery & backstretch-->
<script type="text/javascript">
$(function(){
     $(window).resize(function(){
         if($(this).width() >= 767){
             $.backstretch("<%= asset_path 'capitol-original.jpg' %>", {speed: 150});
         }
      })
      .resize();//trigger resize on page load
});
</script>