= render "layouts/header"
.container.wrapper
  %h2 Sign Up—Monthly Briefing
  %h6 Want the bleeding edge?
  %p{class: "futura-book"}
    If you want to get a copy of the same daily news briefing we use ourselves, as well as participate in the testing of new products, please sign up for the
    = succeed "." do
      = link_to "Alpha Release of The Wire", new_user_registration_path
  %h6 Stable Release
  %p{class: "futura-book"} Otherwise, you can sign up for our established product—the monthly briefing—below:
  %br
  = render "mailchimp"