$navbarBackgroundHighlight: white;
$navbarBackground: white;
$musingsGold: #dcc08e;
$musingsBurgundy: #9a1d0d;
$musingsGrey: #222222;

@import 'bootstrap';
body{
    padding-top: 60px;
    font-family: "Segoe UI", "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: $musingsGrey;
    color: white;
}

h3{
  a{
    color: $musingsGold;
    text-shadow: 1px 1px 0px #000;
  }
  a:hover{
    color: white;
    text-decoration: none;
  }
}

@import 'bootstrap-responsive';

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

.footer{
    margin-top: 50px;
}

.alpha{
  color: $musingsBurgundy;
}

/* My pagination */

.my-pagination ul {
  margin: 20px 0;
    a{
    color: $musingsGold;
    &:hover{
    color: white;
    }
  }
}

.apple_pagination {
  background: $musingsGrey;
  border: none;
  text-align: center;
  padding: 1em;
  cursor: default;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: white; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }