@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'variables';

/* ------------------------------------------------------------------------- */
/*  General
/* ------------------------------------------------------------------------- */

  html { -webkit-font-smoothing: subpixel-antialiased; }

  body{
    a{
      color: $musingsBurgundy;
      &:hover{
        text-decoration:none;
        color: $musingsBurgundy;
        text-shadow: 0 0 15px rgba(255,255,255,0.6);
      }
    }
  }

  p { text-align:justify; }

  h1, h2, h3, h4, h5, h6, th { 
    font-family: $futura;
    text-transform: uppercase;
  }

  hr { border-color: #ddd; }

  .table td, .wires .table td {
    border: none;
    font-family: $futura;
    font-weight: $book;
  }

  .table th {
    border: none;
  }

  .futura-book, {
    font-family: $futura;
    font-weight: $book;
  }

  .futura-heavy {
    font-family: $futura;
    font-weight: $heavy;
  }


/* ------------------------------------------------------------------------- */
/*  Error Messages
/* ------------------------------------------------------------------------- */

  .alert {
    font-family: $futura;
    font-weight: $heavy;
    text-transform: uppercase;
  }

  .help-inline {
    font-family: $futura;
    font-weight: $book;
  }


/* ------------------------------------------------------------------------- */
/*  Typography
/* ------------------------------------------------------------------------- */


  /* Increase typography for high resolution screens */
  @media (min-device-width: 768px) {
    body {
      font-size: 1.3em;
      line-height: 2.063em;
      font-family: $caslon;
    }
    h1, h2, h3, h4, h5, h6, th, li, .date {line-height: 2.063em;}
    h1 {font-size:2.6em;}
    h2 {font-size:1.95em;}
    h3 {font-size:1.521em;}
    h4 {font-size:1.3em;}
    h5 {font-size:1.079em;}
    h6, blockquote p, .wp-caption-text {font-size:0.975em;}
    blockquote h6, blockquote p { line-height: 1.521em; }
    .sponsor {font-size:0.65em;}
    li {line-height:2.063em;}
    hr { margin-top: 2.063em; margin-bottom: 2.063em;  }
    p {margin-bottom: 0 0 2.063em; }
    .indented p { text-indent: 2em; }
    .indented { text-indent: 2em; margin-bottom: 0 0 10px; }
  }

  /* Typography for phones */
  @media (max-device-width: 767px) {
    body {
      font-size: 1.125em;
      line-height: 1.375em;
      font-family: $futura;
      font-weight: $book;
    }
    h1, h2, h3, h4, h5, h6, th, li, .date {line-height: 1.375em;}
    h1 {font-size:1.5em;}
    h2 {font-size:1.4em;}
    h3 {font-size:1.35em;}
    h4 {font-size:1.3em;}
    h5 {font-size:1.079em;}
    h6, blockquote p, .wp-caption-text {font-size:0.975em;}
    blockquote h6, blockquote p { line-height: 1.35em; }
    .sponsor {font-size:0.5em;}
    hr { margin-top: 1.375em; margin-bottom: 1.375em; }
    .indented p { text-indent: 1em; }
    .indented { text-indent: 1em; margin-bottom: 0 0 1.375em; }
  }

/* ------------------------------------------------------------------------- */
/*  Block Quotes and Asides
/* ------------------------------------------------------------------------- */
blockquote:before, 
blockquote:after { content:""; }

blockquote {
  border: 0;
  padding: 1em;
  background: #EEE;
  font-family: $futura;
  font-weight: $book;
}

@media (min-device-width: 768px) {
  .aside blockquote {
    width: 40%;
    margin: 1em;
    float: right;
  }
}

blockquote p {
  color: #666;
}

/* ------------------------------------------------------------------------- */
/*  Wordpress Style Imports
/* ------------------------------------------------------------------------- */
.wp-caption-text {
  line-height: 170%;
  padding-top: 0.5em;
  margin-bottom: 1.1em;
  color: #888;
  text-align: center;
  font-family: $futura;
  font-weight: $book;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


/* ------------------------------------------------------------------------- */
/*  One-Off Typography
/* ------------------------------------------------------------------------- */

  .date {
    font-family: $futura;
    font-weight: $book;
    text-transform: uppercase;
    color: $musingsLightGrey;
  }

  .date p {
    text-align: left;
  }

  .read-more {
    font-family: $futura;
    font-weight: $book;
    text-transform: uppercase;
  }

  .sponsor {
    font-family: $futura;
    font-weight: $book;
    color: $musingsLightGrey;
  }

/* ------------------------------------------------------------------------- */
/*  General Layout
/* ------------------------------------------------------------------------- */

  .wrapper {
    @media (min-device-width:768px) {
      li { margin-left:2em; }
    }
      @media (max-device-width:768px) {
      li { margin-left:1em; }
    }
  }

  @media (max-width: 767px) {
    iframe {
      max-width:100%;
      height:auto;
    }
  }

  .wrapper {
  padding-left:20px;
  padding-right:20px;
    .mobile-ad {
    margin-left: -20px;
    margin-right: -20px;
    }
  }

  .no-wrap {
    white-space: nowrap;
  }

  .navbar-sticky-top .container { width:940px; }

  @media (min-width: 768px) and (max-width: 979px) {
    .navbar-sticky-top .container { width:724px; }
  }

  @media (min-width: 1200px) {
    .navbar-sticky-top .container { width:1170px; }
  }

  @media (max-width: 767px){body{padding-left:0px;padding-right:0px}.navbar-fixed-top,.navbar-fixed-bottom,.navbar-static-top{margin-left:0px;margin-right:0px}}

/* ------------------------------------------------------------------------- */
/*  Header Layout
/* ------------------------------------------------------------------------- */

  @media only screen and (min-device-width: 768px) {
    .section-inner { width: 1040px; }
    .blog-title, .blog-title a { font-size: 1.75em; }
    .blog-info, .splash-info { padding: 1.3em; }
  }

  @media only screen and (max-device-width: 767px) {
    .blog-title, .blog-title a{ font-size: 1.5em; }
    .blog-info, .splash-info { padding: 1.125em; }
    }

  .header.section{background-image:url('capitol-cropped.jpg');}
  .section { position: relative; }
  .section{ padding: 10% 0;}
  .section.no-padding { padding: 0; }
  .section.bg { background: $musingsLightGrey; }

  .section-inner {
    max-width: 86%;
    margin: 0 auto;
  }

  .header-cover { overflow-y: hidden; }

  .header {
    background: no-repeat center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    z-index: 2; 
  }

  .header-inner { position: relative; z-index: 3; text-align: center; }


/* ------------------------------------------------------------------------- */
/*  Header Logo Styling
/* ------------------------------------------------------------------------- */

  .blog-logo { display: inline-block; }

  .blog-logo a, .blog-logo img { display: block; }

  .blog-logo img {
    max-height: 250px;
    width: auto;
    max-width: 100%;
    height: auto;
  }

  .blog-info {
    display: inline-block;
    background: $musingsDarkGrey;
  }

  .splash-info {
    display: inline-block;
    background: $musingsDarkGrey;
  }

  .splash-info .btn, .splash-info .btn:hover {
    background: transparent;
  }

  .blog-title { 
    width: 100%; 
    text-align: center; 
    font-family: $futura;
    font-weight: $heavy;
  }

  .blog-title a {
    color: $musingsGold;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: $heavy;
    line-height: 1em;
  }

  .blog-title a:hover {
    color: $musingsGold;
    text-shadow: 0 0 15px rgba(255,255,255,0.6);
  }

  .blog-description:before {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: rgba(255,255,255,0.1);
    margin: 20px auto;
  }

  .blog-description {
    font-family: $futura;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255,255,255,0.9);
    font-weight: $book;
    font-size: 1em;
  }

  .blog-description a {
    color: white;
  }

  .blog-description a:hover {
    color: $musingsGold;
  }
  

/* ------------------------------------------------------------------------- */
/*  Navigation
/* ------------------------------------------------------------------------- */

  .navbar-inverse .navbar-inner {
    padding-top: 0px;
    padding-bottom: 0px;
    background: $musingsDarkGrey;
    font-family: $futura;
    font-weight: $book;
    border-bottom: none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
  }

  .navbar-inverse .nav > li > a {
    color: white;
    text-transform: uppercase;
  }

  .navbar-inverse .nav > li > a:focus,
  .navbar-inverse .nav > li > a:hover, {
    color: $musingsGold;
    text-shadow: 0 0 15px rgba(255,255,255,0.6);
  }

  .dropdown-menu li > a {
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: $book;
    &:hover {
      background: $musingsGold;
      color: black;
    }
  }

  .dropdown .dropdown-menu .nav-header {
    font-weight: $heavy;
    padding-left: 10px;
    padding-right: 10px;
  }

  .navbar-fixed-top { position: relative; }

  .fix { position: fixed; }

  .dropdown .caret {
    vertical-align: middle;
    margin: 0px !important;
  }

/* ------------------------------------------------------------------------- */
/*  Forms
/* ------------------------------------------------------------------------- */
  label, button, input, input[type="submit"],
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input,
  .form-actions .btn {
    font-size:1.1em;
    line-height:1.2em;
  }

  .form-actions {
    background: none;
    border: none;
  }

  label,
  button,
  input {
    font-family: $futura;
    font-weight: inherit;
    line-height: inherit;
  }

  input { width:100%; }

  input[type="submit"], 
  .form-actions .btn {
    font-family: $futura;
    font-weight: $book;
    background: black;
    color: white;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
  }

  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input,
   {
    display: inline-block;
    height: auto;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-weight: $book;
    background: transparent;
    border-style: none none solid none;
    vertical-align: middle;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
  }

  textarea {
    font-family: monospace;
    width: 100%;
    border-style: solid;
  }

  .btn {
    font-family: $futura;
    font-weight: $book;
    font-size: 1.1em;
    line-height: 1.2em;
    background: black;
    color: white;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
      &:hover {
        background: black;
        color: $musingsGold;
        text-shadow: 0 0 15px rgba(255,255,255,0.6);
      }
  }


/* ------------------------------------------------------------------------- */
/*  Pagination
/* ------------------------------------------------------------------------- */

  .pagination, .musings-pagination {
    border: none;
    font-family: $futura;
    text-align: center;
    padding: 1em;
    cursor: default;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em; 
    a, span { padding: 0.2em 0.3em; color: black; font-weight:$book; }
    .disabled { color: #555; }
    .current {
      font-family: $futura;
      font-style: normal;
      font-weight: $heavy;
      background: $musingsGold;
      display: inline-block;
      width: 1.4em;
      height: 1.4em;
      line-height: 1.5;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
    }
    a {
    text-decoration: none;
      &:hover, &:focus {
      color: black;
      text-decoration: none;
      font-weight: $heavy;
      }
    }
  }


/* ------------------------------------------------------------------------- */
/*  Wires
/* ------------------------------------------------------------------------- */
  #wires p {
  text-align: left;
  @media (min-device-width: 768px) {
    line-height: 1.3em;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-family: monospace, serif;
    }
  @media (max-device-width: 767px) {
    line-height: 1.125em;
    }
  }


/* ------------------------------------------------------------------------- */
/*  About
/* ------------------------------------------------------------------------- */
  #about_modal {
    font-family: $futura;
  }

  .light-grey {
    color: $musingsLightGrey;
  }

  .dark-grey {
    color: $musingsDarkGrey;
  }