/* Color */
$musingsGold: #dcc08e;
$musingsBurgundy: #9a1d0d;
$musingsLightGrey: #777;
$musingsDarkGrey: #1B1B1B;

/*  Typography */
$futura:  "futura-pt", sans-serif;
$caslon: "adobe-caslon-pro", serif;
$heavy: 700;
$book: 400;