#about_modal.modal.hide.fade.in
  #myCarousel{class: "carousel"}
    #div-carousel-items{class: "carousel-inner"}
      .active.item
        .modal-header
          %a{data: {dismiss: "modal"}, class: "pull-right"}×        
          %h4 About
        .modal-body
          %p
            This subdomain is where we will be housing all of our prototypes. Currently, we are using this web application as a way to experiment with various solutions to help cope with the changing media environment. Our original site can be found by going to #{link_to 'Capital Musings', 'http://www.capitalmusings.com'}.
          %p
            You can
            =link_to "sign up", new_user_registration_path
            to receive the briefing that we compile from outside sources on a daily basis. This is but one tool we use to stay on top of the endless barrage of news.
      .item
        .modal-header
          %a{data: {dismiss: "modal"}, class: "pull-right"}×        
          %h4 Colophon
        .modal-body
          %h6 Header Design
          %p From “Hemingway” by <a href="http://www.andersnoren.se/" title="Anders Noren" target="_blank">Anders Norén</a>.
          %h6 Header Photo
          %p “Night Lights of a Capitol City” by Wyn Van Devanter [<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-SA-2.0</a>], <a href="https://www.flickr.com/photos/wyntuition/1436584126/">via Flickr</a>.      
  .modal-footer         
    %a{href: "#myCarousel", data: {slide: "prev"}, class: "pull-left"}Prev
    %a{href: "#myCarousel", data: {slide: "next"}, class: "pull-right"}Next