%div.push
%footer.bg-black.no-padding
  %div.navbar.navbar-fixed-bottom.navbar-inverse
    %div.navbar-inner
      %div.container
        %div.nav-collapse.collapse.navbar-inverse-collapse.footer
          %ul.nav
            %li= link_to 'About', about_path
        %a.btn.btn-navbar{data: {toggle: "collapse", target: ".navbar-inverse-collapse.footer"}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar