<div class="header-cover section bg-dark-light no-padding">
  <div class="header section" style="background-image: url(http://capitalmusings.com/wp-content/uploads/2014/04/cropped-1280px-NYC_Skyline_Contrast_5919373122.jpg);">
    <div class="header-inner section-inner">
      <div class="blog-info">
        <h1 class="blog-title">
          <a href="http://capitalmusings.com" title="Capital Musings &mdash; Politics, Business, and Innovation" rel="home">Capital Musings</a>
        </h1>
        <h3 class="blog-description">Politics, Business, and Innovation</h3>
      </div> <!-- /blog-info -->
    </div> <!-- /header-inner -->
  </div> <!-- /header -->
</div> <!-- /bg-dark -->