%div.header-cover.section.bg-dark-light.no-padding
  %div.header.section{style: "background-image: url(http://capitalmusings.com/wp-content/uploads/2014/04/cropped-1280px-NYC_Skyline_Contrast_5919373122.jpg)"}
    %div.header-inner.section-inner
      %div.blog-info
        %h1.blog-title
          %a{href: "http://capitalmusings.com", title: "Capital Musings &mdash; Politics, Business, and Innovation"} Capital Musings
        %h3.blog-description Politics, Business, and Innovation