<p><%= link_to "Return to the main site", "http://capitalmusings.com", class: "btn btn-small pull-right" %></p>

<br />

<center><p><%= link_to image_tag("http://capitalmusings.com/wp-content/uploads/2011/11/logo1.png"), "http://experimental.capitalmusings.com", class: "center" %></p></center>

<div class="alpha"><center><h3>Experimental</h3></center></div>



<%= render "layouts/ad" %>