%div.header-cover.section.bg-black.no-padding
  %div.header.section
    %div.header-inner.section-inner
      %div.blog-info
        %h1.blog-title
          %a{href: "http://capitalmusings.com", title: "Capital Musings &mdash; Politics, Business, and Innovation"} Capital Musings
        %h3.blog-description
          Politics, Business, and Innovation
          %br
          (Experimental)