%div.header-cover.section.bg.no-padding
  %div.header.section
    %div.header-inner.section-inner
      %div.blog-info
        %h1.blog-title
          %a{href: "http://experimental.capitalmusings.com", title: "Capital Musings &mdash; Politics, Business, and Innovation"} The CM Wire
        %h3.blog-description
          %a{href: "http://capitalmusings.com", title: "Capital Musings &mdash; Politics, Business, and Innovation"} A Capital Musings Prototype